@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.avatar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    height:fit-content;
    width: 100vw;
    background-color: cyan;
    padding: 2rem;
}
.ava-text{
    background-color: white;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width:60%;
    padding:2rem;   
    height:fit-content;
    border-radius: 15px;
}
.ava
{
    width:fit-content;  
    height:auto;
}

.text{
    font-size: 3rem;
    font-style:bold;
    font-family: 'Arimo', sans-serif;
    color:white;
    background-color: purple;
    display: inline-block;
    padding:10px 20px;
    border-radius: 5rem;
}
.round{
    padding: 30px 25px;
}
.img-ava{
    /* padding: 30px 25px; */
    /* background: url('avatar-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: inline-block;
    border-radius: 5rem;
    width: 10rem;
    height:10rem;
    margin:auto 1rem;
}
.hover-border{
    cursor: pointer;
    transition: all 0.2s;
}
.hover-border:hover{
    border:0.6rem solid #3a776c;
    transform: scale(1.2);
}
.border{
    border:0.6rem solid #3a776c;
}
.busy{
    color: red;
    font-size: 3rem !important;
    position:relative;
    text-shadow: 2px 2px 4px grey,-2px -2px 4px grey;
    left:85%;
    top:-2rem;
}
.offline{
    color: whitesmoke;
    font-size: 3rem !important;
    position:relative;
    left:85%;
    text-shadow: 2px 2px 4px grey,-2px -2px 4px grey;
    top:-2rem;  
}
.online{
    color: rgb(69, 204, 42);
    font-size: 3rem !important;
    position:relative;
    left:85%;
    text-shadow: 2px 2px 4px grey,-2px -2px 4px grey;
    top:-2rem;
}
.offline1{
    color: whitesmoke;
    font-size: 3rem !important;
    position:relative;
    left:-25%;
    text-shadow: 2px 2px 4px grey,-2px -2px 4px grey;
    top:-7.5rem;
}
.online1{
    color: rgb(69, 204, 42);
    font-size: 3rem !important;
    position:relative;
    left:-25%;
    text-shadow: 2px 2px 4px grey,-2px -2px 4px grey;
    top:-7.5rem;
}

.busy1{
    color: red;
    font-size: 3rem !important;
    position:relative;
    left:-25%;
    text-shadow: 2px 2px 4px grey,-2px -2px 4px grey;
    top:-7.5rem;
}
/* Display Properties */
#Tablet{
    display: flex;
    flex-wrap: wrap;
}
#Tablet-demo{
    display: flex;
    flex-wrap: wrap;
}
#Round-ava{
    flex-wrap: wrap;
}
#Round-ava-demo{
    display: none;
    flex-wrap: wrap;
}
#Round-ava-des{
    display:none;
}
#Round-ava-code{
    display: none;
}
#Img-ava{
   
    flex-wrap: wrap;
}
#Img-ava-demo{
    display: none;
    flex-wrap: wrap;
}
#Img-ava-code{
    display: none;
}
#Img-ava-des{
    display: none;
}
#Hover-ava{
    flex-wrap: wrap;
}
#Hover-ava-demo{
    display:none;
    flex-wrap: wrap;
}
#Hover-ava-des{
    display:none;
}
#Hover-ava-code{
    display:none;
}
#Border-ava-demo{
    display:none;
    flex-wrap: wrap;
}
#Border-ava{
    flex-wrap: wrap;
}
#Border-ava-des{
    display:none;
}
#Border-ava-code{
    display: none;
}
@media(max-width:280px) and (max-width:304){
    .busy{
        left:70%;
        top:2rem;
    }
    .offline{
        left:70%;
        top:2rem;
    }
    .online{
        left:70%;
        top:2rem;
    }
    .busy1{
        left:55%;
        top:-7.5rem;
    }
    .online1{
        left:55%;
        top:-7.5rem;
    }
    .offline1{
        left:55%;
        top:-7.5rem;
    }
}
@media (max-width:305px){
    .busy1{
        top:-7.5rem;
    }
    .online1{

        top:-7.5rem;
    }
    .offline1{

        top:-7.5rem;
    }

}
@media (max-width:480px){
.ava-text{
    padding:0;
    width:60%;
}
.ava{
    margin: 1rem auto;
}

}
@media (max-width:768px) and (min-width:481px)
{
    .ava{
        margin:1rem;
    }
}
@media (max-width:1024px) and (min-width:769px)
{
    .ava-text{
        width:85%;
    }
}
@media (min-width:1025px){
    .ava-text{
        padding:1rem;
    }
}
