@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

.login-title {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

/* Basic Login */

#basic-login form {
    display: block;
    color:black;
}

#basic-log,#basic-log-demo {
    background-color: white;
    height: 40vh;
    color:black;
    border-radius: 5%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

#basic-log input,#basic-log-demo input {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(197, 188, 188);
    color: black;
}
label{
    color:black;
}

#basic-log input[type="submit"],#basic-log-demo input[type="submit"] {
    background-color: blue;
    margin: 15px 25px;
    color: white;
    width: 100%;
}

#login-opt {
    display: flex;
    justify-content: center;
    align-items: center;
    /* top:135px; */
    bottom: -35px;
    width: 100%;
    position: absolute;
}

.opt-log {
    display: inline-block;
    background-color: rgb(247, 80, 80);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 15px;
    text-align: center;

}

.opt-log a {
    color: white;
    display: inline-block;
    margin: 5px auto;
    font-size: 2rem;
}
/* Travel Loging */
#travel-log,#travel-log-demo,#Login-Signup,#Login-Signup-demo {
    height: 60vh;
    margin: 5rem auto;
    border: 1px solid black;
    width: 50vw;
    display: flex;
  color:black;
    
}

#travel-log input,#travel-log-demo input,#Login-Signup input,#Login-Signup-demo input{
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 0 10px 0px rgb(128, 128, 128);
}

#travel-log input[type="submit"],#travel-log-demo input[type="submit"],#Login-Signup input[type="submit"],#Login-Signup-demo input[type="submit"] {
    width: 60%;
    cursor: pointer;
    margin:15px 25px;
    border: 5px solid;
    border-image-slice: 30%;
    border-width: 3px;
    border-radius: 15px !important;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

#login-travel {
    background-color: #fbfcfe;
    width: 40%;
    height: 100%;
    transform: scale(1.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 1rem 0;
    box-shadow: 2px 2px 10px 0 rgb(128, 128, 128);
}
#Login-Signup #login-travel ,#Login-Signup-demo #login-travel{
    background-color: #fbfcfe;
    width: 40%;
    height: 100%;
    transform: scale(1.1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 0 1rem 0;
    box-shadow: 2px 2px 10px 0 rgb(128, 128, 128);
}

.travel {
    display: block;
    text-align: center;
}

#log-top {
    padding: 0.3rem;
    text-align: center;
    height: 30%;
    color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
    font-family: 'Dancing Script', cursive !important;
    font-size: 3rem;
}
#Login-Signup #log-top ,#Login-Signup-demo #log-top{
    padding: 0.3rem;
    text-align: center;
    height: 30%;
    color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
    font-family: 'Dancing Script', cursive !important;
    font-size: 3rem;
}

#log-des {
    display: inline-block;
    margin: 15px;
    font-family: 'Radio Canada', sans-serif;
    font-size: 1rem;
}

#form {
    padding: 2rem;
    height: 70%;
}
#Login-Signup #login-form ,#Login-Signup-demo #login-form{
    display:none;
}

#log-display {
    width: 60%;
    height: 100%;
}
#Login-Signup #login-form,#Login-Signup-demo #login-form{
    background-color: white;
    height: 60%;
    border-radius: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

#Login-Signup #login input[type="submit"],#Login-Signup-demo #login input[type="submit"]{
    background-color: transparent;
    margin: 15px 25px;
    border-radius: 0px;
    color: black;
    width: 10%;
}
#Login-Signup #login-opt,#Login-Signup-demo #login-opt{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    position: static;
  
}
#Login-Signup .opt-log ,#Login-Signup-demo .opt-log{
    display: inline-block;
    background-color: rgb(247, 80, 80);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 15px;
    text-align: center;
    font-size:2rem;
    /* padding:2    px; */

}
#Login-Signup .opt-log a ,#Login-Signup-demo .opt-log a{
    color: white;
    display: inline-block;
    margin: 5px auto;
}
#Login-Signup #login-signup,#Login-Signup-demo #login-signup{
    width:100%;
    height:10%;
    text-align:center;
    font-size: 1.5rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#Login{
    border-bottom: 2px solid blueviolet;
}
.login-Signup{
    cursor:pointer;
    padding-top:0.5rem;
    display:inline-block;
    width:50%;
    height:100%;
    background-color:#fbfcfe;
    color:grey;
    transition: all 0.2s;
}
#travel-login-title{
    display:none;
}
#travel-log-demo{
    display:none;
}
#register{
    display:none;
}
#Login-Signup-demo{
    display:none;
}
#login-signup-title{
    display:none;
}
/* Media Queries */
@media (min-width: 280px)and (max-width:319px) {

    #basic-log,#basic-log-demo {
        width: 70vw;
        height:50vh;
    }

    /* Travel login */
    #login-travel {
        width: 100% !important;
        font-size: 1rem;
    }

    #log-display {
        display: none;
    }

    #travel-log input,#travel-log-demo input {
        font-size: 1rem;
    }
    #Login-Signup #login-form, #Login-Signup-demo #login-form{
        width:100% !important;
    }
    #Login-Signup, #Login-Signup-demo{
        height:70vh;
    }
    #Login-Signup .opt-log, #Login-Signup-demo .opt-log {
        margin:5px;
    }
}
@media (min-width: 320px) and (max-width:321px){
    #Login-Signup, #Login-Signup-demo{
        height:80vh;
    }
    #basic-log,#basic-log-demo {
        width: 70vw;
        height: 50vh;
    }
     /* Travel login */
     #travel-log,#travel-log-demo {
        height: 60vh;
    }
    #login-travel {
        width: 100% !important;
        font-size: 2rem;
        
    }
  
    #log-display {
        display: none;
    }

    #travel-log input ,#travel-log-demo input{
        font-size: 1rem;
    }
    #log-des{
        margin:0;
    }
    #Login-Signup .opt-log ,#Login-Signup-demo .opt-log{
        margin:5px;}
}
@media (min-width: 322px)and (max-width:380px) {
    #basic-log,#basic-log-demo {
        width: 70vw;
        height: 50vh;
    }

    /* Travel login */
    #travel-log,#travel-log-demo {
        height: 60vh;
    }
    #login-travel {
        width: 100% !important;
        font-size: 1rem;
    }

    #log-display {
        display: none;
    }

    #travel-log input ,#travel-log-demo input{
        font-size: 1rem;
    }
    #log-des{
        margin:0;
    }
    #Login-Signup #login-form, #Login-Signup-demo #login-form{
        width:100% !important;
        height:70%;
    }
  
    #Login-Signup .opt-log, #Login-Signup-demo .opt-log {
        margin:5px;
    }
    #Login-Signup #login-travel, #Login-Signup-demo #login-travel{
        width:100%;
    }
}

@media (min-width: 381px)and (max-width:409px) {
    #basic-log,#basic-log-demo {
        width: 70vw;
        height: 30vh;
    }

    /* Travel login */
    #travel-log ,#travel-log-demo{
        height: 40vh;
    }

    #login-travel {
        width: 100%;
        font-size: 1rem;
    }

    #log-display {
        display: none;
    }

    #travel-log input,#travel-log-demo input {
        font-size: 1rem;
    }
    #Login-Signup #login-travel, #Login-Signup-demo #login-travel{
        height:60vh;
        width:100%;
    }
}

@media (min-width: 410px)and (max-width:480px) {
    #basic-log,#basic-log-demo {
        width: 70vw;
        height: 30vh;
    }
    #login-travel{
        width:100%;
    }
    #log-display {
        display: none
    }
    #travel-log,#travel-log-demo{
        height:40vh;
        font-size: 1.5rem;
    }
    #Login-Signup #login-travel, #Login-Signup-demo #login-travel{
        height:60vh;
        width:100%;
    }
    #log-des{
        font-size:1.2rem;
    }
}

@media (min-width: 481px)and (max-width:768px) {
    #basic-log,#basic-log-demo {
        width: 44vw;
        height: 30vh;
    }
    #travel-log,#travel-log-demo{
        width:75vw;
        font-size: 1.4rem;
    }
    #log-des{
        font-size:1.5rem;
    }
    #login-travel{
        width:50%;
    }
    #log-top{
        font-size:2.5rem;
    }
    #Login-Signup #login-travel, #Login-Signup-demo #login-travel {
        font-size: 1.5rem;
        width:80%;
    }
    #log-display {
        width: 20%;
        height: 100%;
    }
    #Login-Signup,#Login-Signup-demo{
        height:60vh;
    }
    #log-display {
        width: 50%;
        height: 100%;
    }
}

@media (min-width: 769px)and (max-width:1023px) {
    #basic-log,#basic-log-demo {
        width: 30vw;
        height: 25vh;
    }
    #Login-Signup #login-travel, #Login-Signup-demo #login-travel {
        font-size: 1.5rem;
        width:50%;
    }
    #travel-log input,#travel-log-demo input {
        font-size: 2rem;
    }
  #travel-log input,#travel-log-demo input {
        font-size: 1rem;
    }
    #Login-Signup,#Login-Signup-demo{
        height:40vh;
    }
    #Login-Signup #login-signup, #Login-Signup-demo #login-signup{
        font-size: 2.5rem;
    }
    #log-display {
        width: 50%;
        height: 100%;
    }
}
@media (min-width: 1024px)and (max-width:1200px) {
    #login-travel{
        font-size:1.5rem;
    }
    #Login-Signup .opt-log, #Login-Signup-demo .opt-log {
        display: inline-block;
        background-color: rgb(247, 80, 80);
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin: 15px;
        text-align: center;
        font-size: 1.5rem;
    }
     /* #Login-Signup input #login-form , #Login-Signup-demo #login-form  input {
        margin:0;
    } */
    #travel-log input[type="submit"], #travel-log-demo input[type="submit"], #Login-Signup #login-form input[type="submit"], #Login-Signup-demo #login-form input[type="submit"] {
        margin-top:15px;
    }
}
#basic-log-code{
    display: none;
}
#register-form-code{
    display: none;
}
